
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- List Tab -->
  <ion-tab title="Restaurants" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>

  <!-- Map Tab -->
  <ion-tab title="Map" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/map/0">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Ar Tab -->
  <ion-tab title="AR" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/ar">
    <ion-nav-view name="tab-ar"></ion-nav-view>
  </ion-tab>


</ion-tabs>
