
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- List Tab -->
  <ion-tab title="Restaurants" icon-off="ion-wineglass" icon-on="ion-ios-wineglass" href="#/tab/list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>

  <!-- Map Tab -->
  <ion-tab title="Map" icon-off="ion-location" icon-on="ion-ios-location" href="#/tab/map/">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Ar Tab -->
  <ion-tab title="AR" icon-off="ion-eye" icon-on="ion-ios-eye" href="#/tab/ar">
    <ion-nav-view name="tab-ar"></ion-nav-view>
  </ion-tab>


</ion-tabs>
