.item-divider {
  background-color: rgba(255, 201, 0, 0.2);
}

/** ENTETE **/
div.entete{
	height:70px;
	text-align: center;
}

pdiv.entete h5{
	margin:0;
	color: grey;
}

/********************/
/* Page Lst Restau */
/******************/
div.scroll{
  height: 100%;
}

div.liste_restaurants{
    height: calc(100% - 135px);
}

div.liste_restaurants ul{
	height:100%;
	overflow-x:hidden;
	overflow-y:scroll;
}

li.restaurant{
	padding-top:10px;
}

li.restaurant div{
	display:inline-block;
}

li.restaurant div.restaurant_details span{
	display:block;
}

li.restaurant div.restaurant_details span.restaurant_nom{
	margin-bottom: 5px;
	font-size: large;
}

li.restaurant div.restaurant_distance{
	float: right;
}

/** FILTER **/
div.filtre{
	height:10%;
}

div.filtre div.list{
  height: 100%;
}

div.filtre div.list ion-range{
  position: relative;
  top: 25px;
  height: auto;
}

/***********************/
/* Page Detail Restau */
/*********************/
div.content{
  margin-top: 10px;
}

div.content img{
  position: relative;
  left: 25%;
  width: 50%;
}

#zone_button button:last-child{
  position: relative;
  float: right;
}
h5{
  font-weight: bold;
}

/***********************/
/* Page Map */
/*********************/
#map {
    width: 100%;
    height: calc(100% - 50px);
}
